@import './base/_reset';
@import './utils/variables';

@import './components/container';
@import './layouts/modal-window';

// BODY-------------------------

.btn-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: start;
    margin-top: 80px;
    margin-bottom: 80px;
}
h2.display-6.fw-bold{
    text-align: center;
    text-transform: capitalize;
}

button.btn.btn-primary.d-inline-flex.align-items-center {
    text-transform: capitalize;
}
ul#playlist_list{
padding: 0;
margin: 0;
}
.playlist_item{
display: block;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: 400;
text-transform: capitalize;
background-color: #e3e3e3;
border-radius: 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
margin-bottom: 40px;
padding-left: 10px;
& div:first-child{
margin-bottom: 14px;
}
}
.traffic-lights_wrapper{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 50px;
margin-top: 100px;
margin-bottom: 50px;
}
.light-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #b4afaf;
    background-color: #e3e3e3;
    &.red{
        background-color: var(--color1);
    }
    &.yellow{
        background-color: var(--color2);
    }
    &.green{
        background-color: var(--color3);
    }
}
.active{
    box-shadow: 0 0 20px 10px rgba(0, 255, 0, 0.7);
}
.toStart{
    font-size: 14px;
}